<div class="container">
    <h1 class="mt-5">Selectores anidados</h1>
    <hr>
    <form [formGroup]="miForm" (ngSubmit)="guardar()">
        <div class="row mb-3">
            <div class="col">
                <label class="form-label">Continente</label>
                <select class="form-control"
                        formControlName="region">
                    <option value=""> --Seleccione continente--</option>
                    <option [value]="region | lowercase" *ngFor="let region of regiones">{{region}}</option>
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label class="form-label">Pais</label>
                <select class="form-control"
                        formControlName="pais">
                    <option value=""> --Seleccione pais--</option>
                    <option [value]="pais.alpha3Code" *ngFor="let pais of paises">{{pais.name}}</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="btn btn-primary float-end">Seleccionar</button>
            </div>
        </div>
    </form>

    <br>
    <h3>Formulario</h3>
    <pre>Valid: {{ miForm.valid }}</pre>
    <pre>{{ miForm.value | json }}</pre>
</div>